.about {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-position: center;
  background-size: contain;
}
.default-settings {
  background-color: rgb(228, 255, 252);
}
