.list {
  transition: all 0.2s;
  display: none;
}

.list_active {
  top: 91%;
  width: 84%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(215, 245, 255);
  box-shadow: 0 7px 50px rgb(138, 138, 138);
  z-index: 2;
}

.list__item {
  padding: 2px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  &:hover {
    background-color: #62e1fb;
    cursor: pointer;
  }
}
.list__item-name {
  color: grey;
}
.list__item-img {
  width: 30px;
  height: 30px;
}
