html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	transition: color 0.3s linear, background-color 0.5s linear;
}

a {
	text-decoration: none;
}

ul,
p,
figure {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

img,
video,
canvas {
	max-width: 100%;
}

h1 {
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	visibility: hidden;
}

h2 {
	margin: 0;
	padding: 0;
	@include font-kit("Roboto", 500, normal, 40, 46.88);
}
input,
select,
textarea {
	outline: none;
	border: 1px solid #9ca498;
}
textarea {
	resize: none;
}
.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

@media screen and (max-width: 630px) {
	.container {
		padding: 0 10px;
	}
}
