$black_color: #000;
$white-color: #fff;
$text_center: center;
$form-border: 1px solid #9ca498;
$line-background: linear-gradient(0deg, #a8a8a8, #a8a8a8);
$main-background: #dff5b0;
$placeholder-color: #9ca498;
$disabled-color: #b3c195;
$invalid-border: 1px solid #d80c0c;
$invalid-text: #670707;
$valid-border: 1px solid #02ac2a;
$slider-width: 992px;
$slider-height: 630px;
