/* open-sans-300 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local(""),
		url("./assets/fonts/open-sans-v18-latin-300.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("./assets/fonts/open-sans-v18-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("./assets/fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("./assets/fonts/open-sans-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("./assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("./assets/fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	max-width: 1440px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.logo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.logo:hover {
	cursor: pointer;
	opacity: 0.65;
}
.logo__pic {
	width: 70px;
	margin-right: 13px;
	padding-bottom: 4px;
	padding-left: 1px;
}
.logo__text {
	width: 150px;
	padding-left: 2px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 59px;
	text-transform: uppercase;

	color: #f7f7f7;
}
.menu {
	display: flex;
	flex-wrap: wrap;
}
.menu-item a {
	font-weight: 400;
	font-size: 23px;
	line-height: 60px;

	color: #f7f7f7;
}
.menu-item a:hover {
	opacity: 0.65;
}
.btn_active {
	background: #8f5613;
	border-color: #8f5613;
}
