/* open-sans-300 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local(""),
		url("./assets/fonts/open-sans-v18-latin-300.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("./assets/fonts/open-sans-v18-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("./assets/fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("./assets/fonts/open-sans-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("./assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("./assets/fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	max-width: 1440px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.logo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.logo:hover {
	cursor: pointer;
	opacity: 0.65;
}
.logo__pic {
	width: 70px;
	margin-right: 13px;
	padding-bottom: 4px;
	padding-left: 1px;
}
.logo__text {
	width: 150px;
	padding-left: 2px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 59px;
	text-transform: uppercase;

	color: #f7f7f7;
}
.menu {
	display: flex;
	flex-wrap: wrap;
}
.menu-item a {
	font-weight: 400;
	font-size: 23px;
	line-height: 60px;

	color: #f7f7f7;
}
.menu-item a:hover {
	opacity: 0.65;
}
.btn_active {
	background: #8f5613;
	border-color: #8f5613;
}

/* Header styles start */
.header {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}
.header__wrapper {
	max-width: 1200px;
	margin: 3px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header__logo {
	margin-top: -4px;
}
.header__nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header__item {
	margin-right: 61px;
	padding-left: 2px;
}
.header__item:last-child {
	margin-right: 0;
}
.search__pic {
	padding-top: 15px;
}
.blog {
	width: 50px;
	height: 60px;
}
.contacts {
	width: 96px;
	height: 60px;
}
.search {
	width: 32px;
	height: 32px;
}
.sign-in {
	width: 122px;
	height: 50px;
}
.sign-in__btn {
	font-family: "Roboto";
	font-size: 23px;
	line-height: 61px;
	text-align: center;
	border: 2px solid #cd6326;
	border-radius: 5px;
	padding: 10px 24px 9px 23px;

	color: #f7f7f7;
}
.sign-in__btn:hover {
	background: #cd6326;
}
.sign-in__btn:active {
	border: 2px solid #8f5613;
	background: #8f5613;
}
/* Header styles end */

/* Survival styles start */
.survival {
	width: 100vw;
	background-image: url(./assets/header-main-background.jpg);
	background-color: #02160b;
	background-position: top;
	background-repeat: no-repeat;
	padding: 199px 0 240px 0;
}
.survival__wrapper {
	max-width: 1200px;
	height: 340px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}
.survival__title {
	margin-top: 0;
	width: 199px;
	height: 72px;
	margin-bottom: 51px;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: 2px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	color: #cd6326;
}
.survival__desc {
	margin-top: 0;
	width: 272px;
	height: 108px;
	margin-bottom: 49px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	color: #f7f7f7;
}
.survival__donate {
	width: 160px;
	padding: 15px 39px 18px 42px;
	font-size: 22px;
	font-weight: 400;
	line-height: 27px;
	background: #cd6326;
	border-radius: 5px;
	color: #f7f7f7;
	margin-bottom: 240px;
}
.survival__donate:hover {
	background: #e39128;
}
.survival__donate:active {
	background: #8f5613;
}
/* Survival styles end */

/* Articles styles start */
.articles {
	width: 100vw;
	margin: 0;
	padding: 120px 0 239px 0;
	background-color: #cccccc;
}
.articles__wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.articles__title {
	width: 324px;
	margin-top: 0;
	padding-top: 1px;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
	text-align: center;
	margin-bottom: 20px;

	color: #333333;
}
.articles__second-title {
	width: 332px;
	margin-top: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	margin-bottom: 120px;

	color: #666666;
}
.articles__cards {
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.articles__card {
	position: relative;
}
.articles__card:hover .articles__card-pic {
	transform: scale(1.05);
}
.articles__card-pic {
	transition: 0.15s all;
}
.articles__card-text {
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 45px;
	text-align: center;

	color: #f7f7f7;
}
.articles__card-title {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 36px;
}
.articles__card-desc {
	margin: 0;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	word-spacing: 1px;
}
.bird {
	padding-left: 4px;
	padding-right: 1px;
}
.slider__elem {
	margin-right: 60px;
}
.slider__elem:last-child {
	margin-right: 0;
}
.articles__card-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.prev {
	width: 26px;
	height: 39px;
	margin-right: 62px;
	margin-left: 1px;
	background: url(./assets/svg/prev-img.svg) no-repeat left;
	transition: 0.2s all;
}
.next {
	width: 30px;
	height: 39px;
	background: url(./assets/svg/next-img.svg) no-repeat left;
	transition: 0.2s all;
}

.prev:hover,
.prev:focus {
	transform: scale(0.95);
	opacity: 0.65;
}

.next:hover,
.next:focus {
	transform: scale(0.95);
	opacity: 0.65;
}
/* Articles styles end */
